body {
    background: url(../HTML/assets/palestine.avif) aqua top center no-repeat;
}
/* .divteks{
    background-color: red;
}

.spanteks{
    background-color: blue;
}

.bg {
    color: white;
    background-image: url(../HTML/assets/coding.jpg);
    background-size: cover;
    height:800px;
    background-position: center;
    background-repeat: no-repeat;
    /* paralax effect */
    /* background-attachment: fixed; */
}

.bg2 {
    background-color: silver;
    height: 1000px;
}

p {
    margin: 5px;
    padding: 5px;
} */